<a href="https://colab.research.google.com/github/Im-Rose/edgeDjango/blob/main/imroseb3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
x = 5
y = "John"
print(x)
print(y)

5
John

In [3]:
x = 4
x = "Sally"
print(x)

Sally

In [5]:
x = str(3)
y = int(3)
z = float(3)

In [6]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [7]:
x = "John"

x = 'John'

In [8]:
a = 4
A = "Sally"

In [9]:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

In [11]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [12]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [13]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

In [14]:
x = "Python is awesome"
print(x)

Python is awesome

In [15]:
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome

In [16]:
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

Python is awesome

In [17]:
x = 5
y = 10
print(x + y)

15

In [18]:
x = 5
y = "John"
print(x + y)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [19]:
x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

Python is awesome

In [20]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

In [21]:
def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic